In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn import preprocessing, cross_validation, svm
from sklearn.linear_model import LogisticRegression,LinearRegression

C:\Users\HP PAVILION\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
df1 = pd.read_csv('campaign_data.csv')

In [3]:
df1['email_body'].head()

0    Dear AVians,\r\n \r\nWe are shaping up a super...
1    Dear AVians,\r\n \r\nAre your eager to know wh...
2    Early Bird Pricing Till August 07  Save upto ...
3    \r\n \r\nHi ?\r\n \r\nBefore I dive into why y...
4    Fireside Chat with DJ Patil - the master is he...
Name: email_body, dtype: object

In [4]:
del df1['subject']
df1.head()

,campaign_id,communication_type,total_links,no_of_internal_links,no_of_images,no_of_sections,email_body,email_url
0,29,Newsletter,67,61,12,3,"Dear AVians,\r\n \r\nWe are shaping up a super...",http://r.newsletters.analyticsvidhya.com/7um44...
1,30,Upcoming Events,18,14,7,1,"Dear AVians,\r\n \r\nAre your eager to know wh...",http://r.newsletters.analyticsvidhya.com/7up0e...
2,31,Conference,15,13,5,1,Early Bird Pricing Till August 07  Save upto ...,http://r.newsletters.analyticsvidhya.com/7usym...
3,32,Conference,24,19,7,1,\r\n \r\nHi ?\r\n \r\nBefore I dive into why y...,http://r.newsletters.analyticsvidhya.com/7uthl...
4,33,Others,7,3,1,1,Fireside Chat with DJ Patil - the master is he...,http://r.newsletters.analyticsvidhya.com/7uvlg...

In [5]:
del df1['email_body']
df1.head()

,campaign_id,communication_type,total_links,no_of_internal_links,no_of_images,no_of_sections,email_url
0,29,Newsletter,67,61,12,3,http://r.newsletters.analyticsvidhya.com/7um44...
1,30,Upcoming Events,18,14,7,1,http://r.newsletters.analyticsvidhya.com/7up0e...
2,31,Conference,15,13,5,1,http://r.newsletters.analyticsvidhya.com/7usym...
3,32,Conference,24,19,7,1,http://r.newsletters.analyticsvidhya.com/7uthl...
4,33,Others,7,3,1,1,http://r.newsletters.analyticsvidhya.com/7uvlg...

In [6]:
del df1['email_url']
df1.head()

,campaign_id,communication_type,total_links,no_of_internal_links,no_of_images,no_of_sections
0,29,Newsletter,67,61,12,3
1,30,Upcoming Events,18,14,7,1
2,31,Conference,15,13,5,1
3,32,Conference,24,19,7,1
4,33,Others,7,3,1,1

In [7]:
df12 = pd.get_dummies(df1)

In [8]:
df12.head()

,campaign_id,total_links,no_of_internal_links,no_of_images,no_of_sections,communication_type_Conference,communication_type_Corporate,communication_type_Hackathon,communication_type_Newsletter,communication_type_Others,communication_type_Upcoming Events,communication_type_Webinar
0,29,67,61,12,3,0,0,0,1,0,0,0
1,30,18,14,7,1,0,0,0,0,0,1,0
2,31,15,13,5,1,1,0,0,0,0,0,0
3,32,24,19,7,1,1,0,0,0,0,0,0
4,33,7,3,1,1,0,0,0,0,1,0,0

In [9]:
df2 = pd.read_csv('train.csv')

In [10]:
df2.head()

          id  user_id  campaign_id         send_date  is_open  is_click
0   42_14051    14051           42    1/9/2017 19:55        0         0
1  52_134438   134438           52   2/11/2017 12:53        0         0
2  33_181789   181789           33  24-07-2017 15:15        0         0
3  44_231448   231448           44    5/9/2017 11:36        0         0
4  29_185580   185580           29    1/7/2017 18:01        0         0

In [11]:
df3 = pd.merge(df12,df2)

In [12]:
df3.tail()

,campaign_id,total_links,no_of_internal_links,no_of_images,no_of_sections,communication_type_Conference,communication_type_Corporate,communication_type_Hackathon,communication_type_Newsletter,communication_type_Others,communication_type_Upcoming Events,communication_type_Webinar,id,user_id,send_date,is_open,is_click
1023186,54,63,58,8,4,0,0,0,1,0,0,0,54_57121,57121,1/12/2017 20:25,1,0
1023187,54,63,58,8,4,0,0,0,1,0,0,0,54_16632,16632,1/12/2017 20:13,1,0
1023188,54,63,58,8,4,0,0,0,1,0,0,0,54_99394,99394,1/12/2017 20:08,0,0
1023189,54,63,58,8,4,0,0,0,1,0,0,0,54_237527,237527,1/12/2017 20:09,1,0
1023190,54,63,58,8,4,0,0,0,1,0,0,0,54_89219,89219,1/12/2017 20:20,0,0

In [13]:
 del df3['id']
del df3['user_id']
del df3['send_date']

In [14]:
df3.head()

,campaign_id,total_links,no_of_internal_links,no_of_images,no_of_sections,communication_type_Conference,communication_type_Corporate,communication_type_Hackathon,communication_type_Newsletter,communication_type_Others,communication_type_Upcoming Events,communication_type_Webinar,is_open,is_click
0,29,67,61,12,3,0,0,0,1,0,0,0,0,0
1,29,67,61,12,3,0,0,0,1,0,0,0,0,0
2,29,67,61,12,3,0,0,0,1,0,0,0,0,0
3,29,67,61,12,3,0,0,0,1,0,0,0,0,0
4,29,67,61,12,3,0,0,0,1,0,0,0,0,0

In [15]:
X = np.array(df3.drop(['is_click','is_open'], 1))
y = np.array(df3['is_click'])

In [16]:
X = preprocessing.scale(X)

C:\Users\HP PAVILION\Anaconda3\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by the scale function.
  warnings.warn(msg, DataConversionWarning)

In [17]:
X_train, X_test, y_train, y_test = cross_validation.train_test_split(X, y, test_size=0.2)

In [18]:
clf = LogisticRegression()

In [19]:
clf.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [20]:
conf = clf.score(X_test,y_test)

In [21]:
conf

0.98782734473878386

In [22]:
df4 = pd.read_csv('test_BDIfz5B.csv')
df4.head()

          id  campaign_id  user_id         send_date
0  63_122715           63   122715  01-02-2018 22:35
1   56_76206           56    76206  02-01-2018 08:15
2   57_96189           57    96189  05-01-2018 18:25
3  56_166917           56   166917  02-01-2018 08:15
4  56_172838           56   172838  02-01-2018 08:12

In [23]:
df5 = pd.merge(df12,df4)
X = np.array(df5.drop(['id','user_id','send_date'], 1))
ans = clf.predict(X)
ans
df5['ans'] = ans

In [24]:
df5.head(4)

,campaign_id,total_links,no_of_internal_links,no_of_images,no_of_sections,communication_type_Conference,communication_type_Corporate,communication_type_Hackathon,communication_type_Newsletter,communication_type_Others,communication_type_Upcoming Events,communication_type_Webinar,id,user_id,send_date,ans
0,55,11,7,5,1,0,1,0,0,0,0,0,55_45754,45754,09-01-2018 15:32,0
1,55,11,7,5,1,0,1,0,0,0,0,0,55_219528,219528,09-01-2018 15:33,0
2,55,11,7,5,1,0,1,0,0,0,0,0,55_196874,196874,09-01-2018 15:35,0
3,55,11,7,5,1,0,1,0,0,0,0,0,55_143861,143861,09-01-2018 15:35,0

In [25]:
df5.head()
del df5['no_of_internal_links']
del df5['no_of_images']
del df5['no_of_sections']
del df5['communication_type_Conference']
del df5['communication_type_Corporate']
del df5['communication_type_Hackathon']
del df5['communication_type_Newsletter']
del df5['communication_type_Others']
del df5['communication_type_Upcoming Events']
del df5['communication_type_Webinar']

In [28]:
hiveq <- function(df) {
  write.csv(df, file = paste(deparse(substitute(df)),".csv",sep=""), row.names = FALSE, col.names = FALSE)
}
hiveq(df5)

SyntaxError: invalid syntax (<ipython-input-28-05b2116ee092>, line 1)

In [32]:
df5.to_csv('example.csv',header=True)

In [33]:
df6 = pd.read_csv('example.csv')

In [34]:
df6.head()

,Unnamed: 0,campaign_id,total_links,id,user_id,send_date,ans
0,0,55,11,55_45754,45754,09-01-2018 15:32,0
1,1,55,11,55_219528,219528,09-01-2018 15:33,0
2,2,55,11,55_196874,196874,09-01-2018 15:35,0
3,3,55,11,55_143861,143861,09-01-2018 15:35,0
4,4,55,11,55_138348,138348,09-01-2018 15:31,0